@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:wght@300&display=swap');
body {
  background-color: #333;
  color: #ffff;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
#new-todo-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
#new-todo-form input {
  padding: 0.5rem;
  outline: none;
  border-radius: 0.3em;
}
#new-todo-form label {
  font-size: 2rem;
}
#new-todo-form > * {
  margin: 0.15rem;
}
#new-todo-form button {
  padding: 0.5rem;
  background-color: #ffff;
  border: none;
  border-radius: 0.3em;
}
#list {
  padding: 0;
}

.list-item {
  list-style: none;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 500px;
  height: 50px;
  justify-content: space-between;
}
[data-list-item-checkbox] {
  height: 20px;
  width: 20px;
}
.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover > [data-list-item-text] {
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
  color: #aaa;
}

[data-button-delete] {
  margin-left: 0.5rem;
}

button {
  cursor: pointer;
}

[data-button-edit] {
  margin-left: 0.5rem;
}

.filter-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.filter-form label {
  font-size: 1.4rem;
}
.filter-form input {
  outline: none;
  padding: 0.3rem;
}
.filter-form-group {
  display: flex;
  gap: 0.25rem;
}
.btn {
  color: #ffff;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.trash-btn {
  background-color: rgb(235, 40, 40);
}
.edit-btn {
  background-color: rgb(29, 161, 29);
}
.save-btn {
  background-color: rgb(204, 204, 26);
}
.list-item-label span {
  font-size: 1.4rem;
  margin-left: 10px;
}
.save-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}
.save-form input {
  padding: 0.5rem;
}
